.ColorClockShipRow {
  text-align: center;

  &-ColorClockContainer {

  }

  &-ColorClock {
    margin: 12px 0 20px 0;
    vertical-align: middle;
  }

  &-SimulationContainer {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}