.ColorClock {
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;

  &-Face, &-Hands {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-Hands line {
    background-color: rgba(0,0,0,0.2);
  }

  &-Hands line {
    stroke-width: 1;
    stroke: black;
  }
}