.ShipSimulation {
  text-align: center;
  position: relative;
  background-color: #ccffcc;

  &-ShipBlock,
  &-CapsizeLine {
    left: 0;
    top: 0;
    position: absolute;
  }

  &-CapsizeLine {
    transform-origin: 50% 70%;
  }
}