@import (css) "../../node_modules/material-icons/css/material-icons.css";

#root {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
  font-size: 20px;
  line-height: 1.25;
}

figure, figcaption {
  text-align: center;
}

figcaption {
  margin-top: 1em;
}

.mi {
  font-size: 24px;
}

[disabled] .mi {
  color: #666666;
}

.inline-icon {
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}

.figure-5-table {
  td {
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
  }
}