.ShipGridToy {
  @axis-height: 50px;

  &-PlayControl {
    width: auto;
  }

  &-Mode {
    margin-bottom: 1em;
  }

  &-Graph {
    display: inline-block;
    position: relative;
    padding: @axis-height/2 @axis-height/2 @axis-height*5/4 @axis-height*5/4;

    &-Grid {
      z-index: 0;
      box-sizing: border-box;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }

    &-AxisW,
    &-AxisA {
      z-index: 1;
      height: @axis-height;
      text-align: center;
      position: absolute;
      width: 100%;

      &-Label {
        &-Low,
        &-High {
          line-height: 1.2;
          position: absolute;
          font-size: 0.8em;
          width: 25%;

          &:after {
            content: '|';
            display: block;
            position: absolute;
            top: -@axis-height/3;
            left: 50%;
          }
        }
      }
    }

    &-AxisA {
      top: -@axis-height*5/4;
      left: 5px;
      transform: rotate(90deg);
      transform-origin: 0 100%;

      &-Label {
        &-Low { left: 67%; }
        &-High { left: 5%; }
      }
    }
    &-AxisW {
      bottom: 2px;

      &-Label {
        &-Low { left: -5%; }
        &-High { left: 57%; }
      }
    }
  }
}