body {
  margin: 0;
  padding: 0;
}

#ocean {
  padding: 20px 0;
  text-align: center;
}

#ship {
  transform-origin: 50% 70%;
  position: relative;
  display: inline-block;
}

#phase-portrait {
  width: 600px;
  height: 300px;
  cursor: crosshair;
}

#phase-portrait-container {
  text-align: center;
}